body {
  font-family: sans-serif;
  background: #eef2f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}
.cont {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 300px;
  text-align: center;
}
 input {
   padding: 10px;
   width: 80%;
   border: 1px solid #ccc;
   border-radius: 6px;
   margin-bottom: 10px;
 }

 button {
   padding: 10px 20px;
   background-color: #4caf50;
   border: none;
   color: white;
   border-radius: 6px;
   cursor: pointer;
 }

 .result{
   margin-top: 20px;
   font-size: 16px;
 }


 .result img {
   width: 80px
 }
